<!DOCTYPE html>
<html lang="en">
  <head>
#include "bootstrap-head.inc"
  </head>

  <body>
   #set global $pageName ="History"
   #include "navbar.inc"
 
 
  
    <!-- Main container -->  
    <div class="container">
      <div class="row">
      
      
    #include "gauge-panel.inc"
	#include "station-info.inc"        
                      
        </div>
        
        
 <div class="col-md-8 main">
         <h3>Minimum Temperature</h3>
$min_temp_table

         <h3>Average Temperature</h3>
$avg_temp_table

         <h3>Maximum Temperature</h3>
$max_temp_table

         <h3>Rainfall (mm)</h3>
$rain_table

          <h3>NOAA Data</h3>
             <p>Click on a year below for an annual NOAA summary, the months give summaries for that month.</p>
             <p>
             #set $monthnames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]             
             #set $yearnow = 0             
             #for $monthYear in $SummaryByMonth
             #set $yearvalue = $monthYear[:4]             
             #if $yearnow != $yearvalue
             #set NOAAfilename = ("NOAA/NOAA-%s.html" % $yearvalue)
             <br><strong><a href="$NOAAfilename">$yearvalue</a></strong>
             #set $yearnow = $yearvalue
             #end if  
             #set $monthvalue = int($monthYear[5:])
             #set NOAAfilename = ("NOAA/NOAA-%s.txt" % $monthYear)
               <a href="$NOAAfilename">$monthnames[$monthvalue-1] </a>
             #end for
            </p>  
  
          <h3>Complete history in CSV format</h3>
          <a href="dump.csv.gz">dump.csv.gz</a>               
        
        </div>
        
      </div>

      <hr>
      <footer>
        <p>$bootstrap_footer</p>
      </footer>      
      
    </div>  
 
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
