<!DOCTYPE html>
<html lang="en">
  <head>
#include "bootstrap-head.inc"
  </head>

  <body>
   #set global $pageName ="The Weather"
   #include "navbar.inc"
 
  
    <!-- Main container -->  
    <div class="container">
    #include "gauge-panel.inc"
	#include "station-info.inc"        
            
        </div>
        
        
          <!-- Graph panel -->        
          <div class="col-md-8 main">
              <ul class="nav nav-pills">
                <li class="active"><a href="#">Last 24 hours</a></li>
                <li><a href="week.html">Last week</a></li>
                <li><a href="month.html">Last month</a></li>
                <li><a href="year.html">Last year</a></li>
              </ul>          
              <br>                  
                             
              <div class="row">
                <div class="col-md-6" align="center">
                  <a href="#" id="pop">
                    <img id="daytempchill" src="images/daytempchill-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                  </a>

                  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h4 class="modal-title">Temperature and wind chill</h4>
                         </div>
                         <div class="modal-body">
                           <img src="big_images/daytempchill-Bootstrap.png" alt="" class="daytempchill-responsive" style="max-width:100%;">
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                       </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                  </div>


                </div>
            
                <div class="col-md-6" align="center">
                  <img src="images/daybarometer-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>
                  
              <br>
              <div class="row">
                <div class="col-md-6" align="center" >
                  <img src="images/dayrain-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
            
                <div class="col-md-6" align="center">
                  <img src="images/dayhumidity-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>

              <br>
              <div class="row">
                <div class="col-md-6" align="center" >
                  <img src="images/daywind-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
            
                <div class="col-md-6" align="center">
                  <img src="images/daywinddir-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>

        </div>
      </div>
  
    <hr>
    <footer>
      <p>$bootstrap_footer</p>
    </footer>    
    </div>

### Not really working:
<script>
function() {
		$('.daytempchill').on('click', function() {
			$('#daytempchill-responsive').modal('show');
		});
};
</script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
