<!DOCTYPE html>
<html lang="en">
  <head>
    #include "bootstrap-head.inc"
      </head>

  <body>
   #set global $pageName ="Stats"
   #include "navbar.inc"

 
  
    <!-- Main container -->  
    <div class="container">
      <div class="row">
      
      
     #include "gauge-panel.inc"
	#include "station-info.inc"        
                      
        </div>
        
        
          <!-- Graph panel -->        
          <div class="col-md-8 main">

            <h3>Temperature</h3>
      		    <table class="table table-hover">
      			    <thead>
      				    <tr>
        				    <th></th>
        				    <th>Since midnight</th>
        				    <th>This week</th>
        				    <th>This month</th>
        				    <th>This year</th>
        				    <th>Since ever</th>
      				    </tr>
      			    </thead>
      			    <tbody>
      				    <tr>
        				    <td>High</td>
        				    <td>$day.outTemp.max<br>$day.outTemp.maxtime</td>
        				    <td>$week.outTemp.max<br>$week.outTemp.maxtime</td>
        				    <td>$month.outTemp.max<br>$month.outTemp.maxtime</td>
        				    <td>$year.outTemp.max<br>$year.outTemp.maxtime</td>
  		              <td>$alltime.outTemp.max<br>$alltime.outTemp.maxtime</td>
  		    		    </tr>
  		    		    <tr>
  		      		    <td>Low</td>
  		      		    <td>$day.outTemp.min<br>$day.outTemp.mintime</td>
  		      		    <td>$week.outTemp.min<br>$week.outTemp.mintime</td>
  		      		    <td>$month.outTemp.min<br>$month.outTemp.mintime</td>
  		      		    <td>$year.outTemp.min<br>$year.outTemp.mintime</td>
  		      		    <td>$alltime.outTemp.min<br>$alltime.outTemp.mintime</td>
  		    		    </tr>
  		     	    </tbody>
  		        </table>

              <h3>Rainfall</h3>		    
		            <table class="table table-hover">
                  <thead>
		                <tr>
		                  <th></th>
          				    <th>Since midnight</th>
          				    <th>This week</th>
          				    <th>This month</th>
          				    <th>This year</th>
          				    </tr>
			           </thead>
			           <tbody>
                <tr>
    				      <td></td>
      				    <td>$day.rain.sum</td>
      				    <td>$week.rain.sum</td>
      				    <td>$month.rain.sum</td>
      				    <td>$year.rain.sum</td>
    				    </tr>
	   		    </tbody>
		      </table>

          <h3>Pressure</h3>
		    <table class="table table-hover">
			    <thead>
				    <tr>
				    <th></th>
				    <th>Since midnight</th>
				    <th>This week</th>
				    <th>This month</th>
				    <th>This year</th>
				    <th>Since ever</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr>
				    <td>High</td>
				    <td>$day.barometer.max<br>$day.barometer.maxtime</td>
				    <td>$week.barometer.max<br>$week.barometer.maxtime</td>
				    <td>$month.barometer.max<br>$month.barometer.maxtime</td>
				    <td>$year.barometer.max<br>$year.barometer.maxtime</td>
                                    <td>$alltime.barometer.max<br>$alltime.barometer.maxtime</td>
				    </tr>
				    <tr>
				    <td>Low</td>
				    <td>$day.barometer.min<br>$day.barometer.mintime</td>
				    <td>$week.barometer.min<br>$week.barometer.mintime</td>
				    <td>$month.barometer.min<br>$month.barometer.mintime</td>
				    <td>$year.barometer.min<br>$year.barometer.mintime</td>
				    <td>$alltime.barometer.min<br>$alltime.barometer.mintime</td>
				    </tr>
			    </tbody>
		    </table>

         <h3>Wind Speed</h3>
		    <table class="table table-hover">
			    <thead>
				    <tr>
				    <th></th>
				    <th>Since midnight</th>
				    <th>This week</th>
				    <th>This month</th>
				    <th>This year</th>
				    <th>Since ever</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr>
				    <td>High</td>
				    <td>$day.wind.max<br>$day.wind.maxtime</td>
				    <td>$week.wind.max<br>$week.wind.maxtime</td>
				    <td>$month.wind.max<br>$month.wind.maxtime</td>
				    <td>$year.wind.max<br>$year.wind.maxtime</td>
                    <td>$alltime.wind.max<br>$alltime.wind.maxtime</td>
				    </tr>
			    </tbody>
		    </table>

        </div>          
      </div>
    
      <hr>
      <footer>
        <p>$bootstrap_footer</p>
      </footer>         
    
    </div>  
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
