<!DOCTYPE html>
<html lang="en">
  <head>
#include "bootstrap-head.inc"
  </head>

  <body>
#set global $pageName ="The Weather"
   #include "navbar.inc"
 
  
    <!-- Main container -->  
    <div class="container">
      <div class="row">
      
    #include "gauge-panel.inc"
	#include "station-info.inc"        
            
          
        </div>
        
        
          <!-- Graph panel -->        
          <div class="col-md-8 main">
              <ul class="nav nav-pills">
                <li><a href="index.html">Last 24 hours</a></li>
                <li class="active"><a href="week.html">Last week</a></li>
                <li><a href="month.html">Last month</a></li>
                <li><a href="year.html">Last year</a></li>
              </ul>          
              <br>                  
                             
              <div class="row">
                <div class="col-md-6" align="center" >
                  <img src="images/weektempchill-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
            
                <div class="col-md-6" align="center">
                  <img src="images/weekbarometer-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>
                  
              <br>
              <div class="row">
                <div class="col-md-6" align="center" >
                  <img src="images/weekrain-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
            
                <div class="col-md-6" align="center">
                  <img src="images/weekhumidity-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>

              <br>
              <div class="row">
                <div class="col-md-6" align="center" >
                  <img src="images/weekwind-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
            
                <div class="col-md-6" align="center">
                  <img src="images/weekwinddir-Bootstrap.png" alt="" class="img-responsive" style="max-width:100%;">
                </div>          
              </div>

        </div>

    </div>  

    <hr>
    <footer>
      <p>$bootstrap_footer</p>
    </footer>    
    </div>  
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
